<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1>
				Caffe Autorun System
			</h1>
			<p>
				ZJU, DCD, CV Group.
			</p>
			<p>
				2015.12
			</p>
			<form>
				<fieldset>
					 <legend>程序和参数</legend> <label>caffe根目录</label><input type="text" /> <label>数据集根目录</label><input type="text" />
					<div class="radio">
						<label><input checked="checked" id="optionsRadios1" name="optionsRadios" type="radio" value="option1" /> VOT类型数据（groundtruth和图片在同一子目录下）</label>
					</div>
					<div class="radio">
						<label><input id="optionsRadios2" name="optionsRadios" type="radio" value="option2" /> OTB类型数据（groundtruth在子目录下，图片在二级子目录下）</label>
					</div> <label>采样脚本</label><input type="text" /> <label>create脚本</label><input type="text" /> <label>train脚本</label><input type="text" /> <label>模型文件</label><input type="text" />
				</fieldset>
			</form> <button type="submit" class="btn">自动训练</button>
		</div>
	</div>
</div>
